# OS
.DS_Store
Thumbs.db

# Python bytecode / build
__pycache__/
*.py[cod]
*$py.class
build/
dist/
.eggs/
*.egg-info/
*.egg
wheels/
pip-wheel-metadata/
MANIFEST

data/news/
logs/
backtest/output/results/*